.container {
  padding-top: 0.7rem;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cal-event-container {
  width: 80%;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  gap: 1.3rem;
  flex-direction: row;
}
.calendar {
  background-color: aliceblue;
  padding: 2rem;
  width: 60%;
  height: 100%;
  border-radius: 1.4rem;
  user-select: none;
}

.events {
  flex-grow: 1;
  background-color: aliceblue;
  padding: 2rem;
  height: 100%;
  border-radius: 1.4rem;
}

.icon {
  width: 22px;
  height: 22px;
}

time {
  cursor: pointer;
}

.add-event-btn {
  background-color: aliceblue;
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  border-radius: 100%;
  padding: 0.5rem 0.7rem;
  box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.32);
}

.flex-class {
  display: flex;

  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .cal-event-container {
    width: 100%;
    flex-direction: column;
  }
  .calendar {
    width: 100%;
    padding: 0.3rem;
    padding-top: 1rem;
    border-radius: 0.6rem;
  }
  .events {
    width: 100%;
  }

  .add-event-btn {
    background-color: aliceblue;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 100%;
    padding: 0.5rem 0.7rem;
    box-shadow: 0 0 1rem 0.1rem rgba(128, 128, 128, 0.32);
  }
}
